*
{
    margin: 0;
    padding: 0;
    
    
}


header
{
    background: #1E1C21;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.Menu
{
    margin: 29.73px 0px 28.07px 200px;
    
}

.ItensMenu
{
    text-decoration: none;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    margin-left: 21px;
    color: #fff;
}
/* Main Styles */

.Carousel
{
    background-image:url('../assets/img/f1_banner.png.');
    background-blend-mode: overlay;
    background-repeat: no-repeat;

    height: 607px;
    display: flex;
    justify-content: end;
    
}

.Inscricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px
}

.Inscricao h1{
    font-family: sans-serif, "Titillium Web";
    font-size: 80px;
    color: #fff;
}

.Inscricao p{
    font-size: 25px;
    font-family: sans-serif;
    color: #fff;
}

.Inscricao a{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #fff;

    background-color: #C31616;
    padding-inline: 48px;
    padding-block: 16.14px;
    border-radius: 10px;
}

.listaJogos{
    background-color: black;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.produtos{
    background-color: #1E1C21;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 36px;


}
.produtos h2{
    font-family: sans-serif, "Roboto";
    font-size: 27px;
    color: #fff;
    align-self: baseline;
    margin-top: 24px;
}

.container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;

    row-gap: 36px;
    column-gap: 85px;

    margin-bottom: 60px;
    
}

.produto{
    background: linear-gradient(to top, #000000, #C4C4C4 );
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
    
}

.produto h3{
    font-family: sans-serif, "Roboto";
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

.produto p{
    font-family: sans-serif, "Roboto";
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.produto h4{
    font-family: sans-serif, "Roboto";
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
}

.produto a{
    font-family: sans-serif, "Roboto";
    font-size: 14px;
    color: #fff;

    background-color: #C31616;
    padding-inline: 57px;
    padding-block: 12px;
    border-radius: 10px;
}

.Container-info{
    background-image: url('../assets/img/Fundodefundo.svg');
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.texto-info{
    color: #fff;
    font-family: sans-serif, "Roboto";

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 524px;

}

.texto-info h5{
    
    font-size: 35px;

}


/* Estilização da footer */
.rodape{
    height: 249px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    color: #fff;
    background-color: #010101;
}
.rodape ul{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.rodape ul li{
    font-family: sans-serif, "Roboto";
    font-size: 14px;
    font-weight: 600;

    

}

.titulolist{
    font-family: sans-serif, "Roboto";
    font-size: 24px;
}

.email-midias{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email-midias p{
    font-size: 16px;
    font-family: sans-serif, "Titillium Web";
}

.campo-email{
    display: flex;
}

.campo-email input{
    width: 195px;
    height: 38px;

    font-size: 26px;
}

.campo-email button{
    width: 156px;
    background-color: #001F70;

    font-size: 24px;
    font-family: sans-serif, "Titillium Web" ;
    font-weight: 600;
    color: #fff;

    border: none;
}

.midias{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

    font-family: sans-serif, "Titillium web";
    font-size: 23px;
    font-weight: 600;
    
    
}
